
.container{
    text-align: center;
   
    background-color: rgb(245, 203, 150);
    height: 100%;
    h2{
        font-size: 50px;
    }
    input{
        width: 400px;
        height: 50px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        padding: 2px 14px;
    }
    table {
        width: 700px;
        
        margin: 0 auto;
        margin-top: 30px;
    }
    td{
        height: 50px;
        background-color: white;
        font-size: 25px;
    }
    th{
        background-color: white;
        font-size: 25px;
    }
    button{
         padding: 3px 9px;
         border: none;
         background-color: rgb(255, 183, 89);
         margin-left: 20px;
         border-radius: 5px;
         font-size: 20px;
         color: white;
         transition: 0.5s;
         cursor: pointer;
    }
    button:hover{
        background-color: rgb(202, 129, 40);
    }
    h3{
        font-size: 30px;
    }
}
